.u-section-1 .u-sheet-1 {
  min-height: 970px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 36px auto 0 20px;
}

.u-section-1 .u-image-1 {
  width: 560px;
  height: 560px;
  margin: 19px 10px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -542px 570px 0 19px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 33px 570px 0 19px;
}

.u-section-1 .u-text-4 {
  margin: 20px 570px 0 19px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin: -27px auto 60px 126px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 389px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 389px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 389px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 169px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 169px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 169px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -522px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -322px;
  }
}